# Nabd Provider App Environment Config

EXPO_PUBLIC_API_BASE_URL=http://localhost:8002/api/v1
EXPO_PUBLIC_SOCKET_URL=http://localhost:8002
EXPO_PUBLIC_CDN_URL=http://localhost:8002/uploads

# External APIs
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_key
EXPO_PUBLIC_ONESIGNAL_APP_ID=your_onesignal_app_id
